.nutrition-results {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.meal-header {
  position: relative;
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.meal-header h2 {
  color: #333;
  font-size: 18px;
  text-align: center; 
  margin: 0; 
  word-wrap: break-word; 
}

.meal-header p {
  color: #666;
  font-size: 12px;
  margin-top: 5px; 
  width: 100%; 
  text-align: center; 
}

.meal-header .close-button, .meal-header .edit-button {
  position: absolute;
  top: 10px;
  padding: 5px 10px;
  background-color: #f9fdf9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  left: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.edit-button {
  right: 10px;
}

.close-button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.meal-image img {
  width: 100%;
  display: block;
}

.nutrition-breakdown {
  padding: 15px;
}

.nutrition-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nutrition-item span, .nutrition-item label {
  flex: 1;
  font-size: 14px;
  color: #333;
}

.nutrition-item input {
  flex: 2;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5A6D57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.save-button:hover {
  background-color: #4a5747;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.ingredients-list h3 {
  color: #333;
  padding: 0.5rem;
  text-align: center;
}

.ingredients-list ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}

.ingredients-list li {
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
