.macro-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; /* Or any font you're using */
  overflow: hidden;
  margin: 16px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  position: relative;
}

/* Override react-circular-progressbar styles here if needed */
.react-circular-progressbar .CircularProgressbar-path {
  stroke: #10B981; /* Tailwind Green-500 */
}
.react-circular-progressbar .CircularProgressbar-trail {
  stroke: #d6d6d6; /* Light grey */
}
.react-circular-progressbar .CircularProgressbar-text {
  fill: #1F2937; /* Tailwind Gray-800 */
  font-size: 3rem; /* Large text */
  font-weight: 700; /* Bold text */
  @media (max-width: 640px) { /* Tailwind's sm breakpoint */
    font-size: 2rem; /* Smaller text on small screens */
  }
}

.progress-label {
  font-size: 1rem;
  color: #6B7280; /* Tailwind Gray-500 */
  position: absolute;
  bottom: 5rem; /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 640px) { /* Tailwind's sm breakpoint */
    bottom: 6rem; /* Adjusted for smaller screens */
  }
}


.macro-nutrients {
  display: flex; /* Changed to flex for inline layout */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  padding: 16px;
  background: #F9FAFB; /* Tailwind Gray-50 */
  border-top: 1px solid #E5E7EB; /* Tailwind Gray-300 */
}

.divider {
  height: 50%; /* Adjust as needed */
  width: 1px;
  background-color: #E5E7EB; /* Tailwind Gray-300 */
  margin: 0 12px; /* Spacing around the dividers */
}


.macro-nutrient {
  text-align: center;
  padding: 8px 0;
}

.nutrient-label {
  color: #6B7280; /* Tailwind Gray-500 */
  font-size: 0.875rem; /* Slightly smaller than default text */
  display: inline-block;
  margin-left: 8px; /* Space between value and label */
}

.nutrient-value {
  font-size: 2rem; /* 32px */
  font-weight: 600;
  color: #1F2937; /* Tailwind Gray-800 */
  display: inline-block;
  @media (max-width: 640px) { /* Tailwind's sm breakpoint */
    font-size: 1.5rem; /* Smaller text on small screens */
  }
}


/* Add or adjust any additional custom styles needed */
.guide-tag {
  display: flex;
  justify-content: center; /* Center the text and button horizontally */
  align-items: center; /* Center the text and button vertically */
  padding: 16px;
}

.coming-soon {
  /* ... existing styles ... */
  margin-right: 4px; /* Space before 'Guide' text */
}

/* Responsive adjustments */
@media (max-width: 640px) {
  /* Make font-sizes smaller for the circular progress bar text */
  .react-circular-progressbar .CircularProgressbar-text {
    font-size: 2rem; /* Adjust to the correct size */
  }
  
  /* Adjust the nutrient values for smaller screens */
  .nutrient-value {
    font-size: 1.5rem;
  }

  /* Possibly hide the dividers on very small screens to prevent crowding */
  .divider {
    display: none;
  }

  /* Adjust the font size of the 'Coming Soon' section for smaller screens */
  .guide-tag {
    flex-direction: column; /* Stack the elements vertically */
  }

  .coming-soon {
    margin-right: 0;
    margin-bottom: 4px; /* Space below the 'Coming Soon' button */
  }
}