
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.header {
  font-size: 48px; 
}

.header h1 {
  font-size: 32px; 
  font-weight: 400; 
}

.main-content h2 {
  font-size: 32px; 
  font-weight: 400; 
}

.main-content h3 {
  font-size: 24px; 
  font-weight: 400; 
}



button {
  font-size: 16px; 
  font-weight: 400;
}

.footer span {
  font-size: 14px; 
  font-weight: 400; 
}
